.Bottom{
    width: 100vw;
    height: 10vh;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: cursive;
    color: white;
}