.Middle{
    width: 100vw;
    height: 75vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: cursive;
    overflow-y: scroll;
    display: flex;
    
    flex-direction: column;
}
.Main{
    display: flex;
    justify-content: space-around;
    gap: 10%;

}