.Product{
    background-color:rgb(111, 109, 109);
    width: 350px;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;

}
.Product img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.Product button{
    color: silver;
    background-color: rgb(30, 28, 28);
    font-size: larger;
    border: 2px solid silver;
    border-radius: 20px;
    width: 250px;
    height: 30px;
}